In [1]:
import pandas as pd
import numpy as np
import os
import datetime as dt
from datetime import timedelta
import xgboost as xgb
os.environ['KMP_DUPLICATE_LIB_OK']='True'
from xgboost import XGBClassifier
from matplotlib import pyplot
from xgboost import plot_importance
os.getcwd()
os.chdir("D:\\he_landmark\\Data\\")

In [2]:
os.getcwd()

'D:\\he_landmark\\Data'

In [3]:
custDemograph = pd.read_excel('Customer_Demographics.xlsx')
custTrans = pd.read_excel('Customer_Transaction.xlsx')
storeMas = pd.read_excel('Store_Master.xlsx')
test = pd.read_excel('Test_Set.xlsx')

In [4]:
custDemograph.shape,custTrans.shape,storeMas.shape,test.shape

((100000, 16), (544649, 15), (35, 15), (400000, 2))

In [50]:
custDemograph.head() #custDemograph.columns

,Customer_ID,Territory,Nationality,Income_Range,Job_Type,Marital_Status,Gender,State,Language,Loyalty_Status,Birth_date,Age,Points,First_txn_dt,Last_accr_txn_dt,Last_rdm_txn_dt
0,1800000006365760,United Arab Emirates,INDIA,Below 5000,Services,Married,M,Abu Dhabi,English,Gold,01JUN1959:00:00:00,59.0,814.0,02NOV2010:00:00:00,27SEP2018:21:45:25,11MAR2018:19:11:57
1,1800000006365820,United Arab Emirates,UNITED ARAB EMIRATES,Below 5000,Services,Married,F,Abu Dhabi,Arabic,Silver,01JAN1900:00:00:00,NaN,212.0,06DEC2010:00:00:00,16AUG2016:21:08:28,16MAR2015:13:39:12
2,1800000006366060,United Arab Emirates,SRI LANKA,Below 5000,Services,Married,M,Abu Dhabi,English,Silver,07JUN1959:00:00:00,59.0,186.0,17FEB2011:00:00:00,31AUG2018:20:52:18,30JAN2017:19:19:19
3,1800000006366230,United Arab Emirates,JORDAN,Below 5000,Services,Married,F,Abu Dhabi,Arabic,Silver,21JAN1962:00:00:00,57.0,126.0,30OCT2010:00:00:00,30JUL2018:20:30:05,20JUN2017:17:57:27
4,1800000006366570,United Arab Emirates,OCCUPIED PALESTINIAN TERRITORY,Below 5000,Services,Married,M,Abu Dhabi,Arabic,Silver,01JAN1900:00:00:00,NaN,197.0,10NOV2010:00:00:00,03SEP2018:22:10:56,17JUN2017:23:08:28

In [15]:
custTrans[custTrans['Units_Sold'] < 0].shape,custTrans.shape

((36918, 15), (544649, 15))

In [23]:
from __future__ import division
36918/544649*100

6.778310434793784

In [24]:
custTrans.head()

,Territory,Business,Year,Week,Store_Code,City_Name,Store_Type,Transaction_Type,Return_Reason,Customer_ID,Invoices,Item_Count,Revenue,Discount,Units_Sold
0,United Arab Emirates,Max,2010,0,60065,Dubai,Stand alone,Return,Size Problem,1800000058056860,1,3,-169.0,0.0,-3
1,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000020917140,1,1,0.0,0.0,0
2,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000021265010,1,1,0.0,0.0,0
3,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000025693950,1,4,0.0,0.0,0
4,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000044104620,1,1,0.0,0.0,0

In [188]:
custMax=custTrans.groupby("Customer_ID").agg({'Revenue' : ['size','sum','max','min']}).reset_index()
custMax.columns = custMax.columns.droplevel(0)
custMax.columns = ['Customer_ID' , 'revenuesize' , 'revenuesum','revenuemax','revenuemin']

In [189]:
custMax2=custTrans.groupby("Customer_ID").agg({'Item_Count' : ['size','sum','max','min']}).reset_index()
custMax2.columns = custMax2.columns.droplevel(0)
custMax2.columns = ['Customer_ID' , 'itemsize' , 'itemsum','itemmax','itemmin']

In [190]:
custMax3=custTrans.groupby("Customer_ID").agg({'Discount' : ['size','sum','max','min']}).reset_index()
custMax3.columns = custMax3.columns.droplevel(0)
custMax3.columns = ['Customer_ID' , 'dissize' , 'dissum','dismax','dismin']

In [191]:
custMax4=custTrans.groupby("Customer_ID").agg({'Units_Sold' : ['size','sum','max','min']}).reset_index()
custMax4.columns = custMax4.columns.droplevel(0)
custMax4.columns = ['Customer_ID' , 'unitssize' , 'unitssum','unitsmax','unitsmin']

In [192]:
custMax5=custTrans.groupby("Customer_ID").agg({'Invoices' : ['size','sum','max','min']}).reset_index()
custMax5.columns = custMax5.columns.droplevel(0)
custMax5.columns = ['Customer_ID' , 'invoicesize' , 'invoiceesum','invoicemax','invoicemin']

In [193]:
storeNew1=custTrans.groupby("Store_Code").agg({'Revenue' : ['size','sum','max','min']}).reset_index()
storeNew1.columns = storeNew1.columns.droplevel(0)
storeNew1.columns = ['Store_Code' , 'storerevenuesize' , 'storerevenuesum','storerevenuemax','storerevenuemin']

In [194]:
storeNew2=custTrans.groupby("Store_Code").agg({'Discount' : ['size','sum','max','min']}).reset_index()
storeNew2.columns = storeNew2.columns.droplevel(0)
storeNew2.columns = ['Store_Code' , 'storedissize' , 'storedissum','storedismax','storedismin']

In [195]:
storeNew3=custTrans.groupby("Store_Code").agg({'Item_Count' : ['size','sum','max','min']}).reset_index()
storeNew3.columns = storeNew3.columns.droplevel(0)
storeNew3.columns = ['Store_Code' , 'storeItemcount' , 'storeitemsum','storeitemmax','storeitemmin']

In [196]:
storeNew4=custTrans.groupby("Store_Code").agg({'Units_Sold' : ['size','sum','max','min']}).reset_index()
storeNew4.columns = storeNew4.columns.droplevel(0)
storeNew4.columns = ['Store_Code' , 'storeunits' , 'storeunitssum','storeunitsmax','storeunitsmin']

In [57]:
custMax.head()

        Customer_ID  revenuesize  revenuesum  revenuemax  revenuemin
0  1800000006365760            4     1117.00       850.0        34.0
1  1800000006365820            1      260.00       260.0       260.0
2  1800000006366060            6      607.00       188.0        75.0
3  1800000006366230            6      643.80       151.0        54.0
4  1800000006366570           10     1285.01       277.0      -105.0

In [4]:
transacCusts=custTrans['Customer_ID'].unique()

In [7]:
storeMas[storeMas['Store_Code'].isin([60065,60298,60301,60053])]

,Territory,Business,Region,Region_Code,Store_Code,Store_Name,Mall_Name,Store_Format,Sales_Per_Day,Store_Launch_Date,Train_Test_Store,Geo_Field,Store_Size_Sq_Ft,Customer_Count,Total_Revenue
2,United Arab Emirates,Max,MX - Dubai,601,60065,Max Gardens,Ibn Battuta Mall-Uae,NaN,3319.885702,2005-04-15,Train,"25.044684, 55.120275",15609.687991,188836.0,69053622.61
28,United Arab Emirates,Max,MX - Abu Dhabi,602,60053,Max Abudhabi,STANDALONE,NaN,3094.424495,2004-05-16,Train,NaN,19200.122169,160218.0,64364029.49
31,United Arab Emirates,Max,MX - Abu Dhabi,602,60301,MAX- Abudhabi Al Wahda,AL Wahda,Mall Stores,10861.009520,2018-01-30,Test,"24.470587, 54.372679",23288.338616,NaN,7472374.55
32,United Arab Emirates,Max,MX - Sharjah,606,60298,MAX - Matejer Al Juraina,Matejer Al Juraina,Mall Stores,4099.543401,2018-01-07,Test,"25.296484, 55.489202",8391.589347,NaN,2820485.86

In [11]:
storeMas.shape

(35, 15)

In [9]:
leftout=test[test['Customer_ID'].isin(transacCusts)]

In [10]:
leftout.shape,test.shape

((400000, 2), (400000, 2))

In [8]:
test.head()

        Customer_ID  Store_Code
0  1800000006365760       60298
1  1800000006365760       60299
2  1800000006365760       60300
3  1800000006365760       60301
4  1800000006365820       60298

In [25]:
storeMas.Store_Format.unique()

array([nan, u'Stand Alone Stores', u'Mall Stores'], dtype=object)

In [26]:
custTotal=custTrans.merge(custDemograph[['Customer_ID','Nationality','Income_Range','Job_Type','Marital_Status',
                                         'Gender','State', u'Language','Loyalty_Status','Birth_date','Age','Points',
                                         'First_txn_dt','Last_accr_txn_dt', 'Last_rdm_txn_dt']],how='left',on='Customer_ID')

In [27]:
custTotal.head()

,Territory,Business,Year,Week,Store_Code,City_Name,Store_Type,Transaction_Type,Return_Reason,Customer_ID,...,Gender,State,Language,Loyalty_Status,Birth_date,Age,Points,First_txn_dt,Last_accr_txn_dt,Last_rdm_txn_dt
0,United Arab Emirates,Max,2010,0,60065,Dubai,Stand alone,Return,Size Problem,1800000058056860,...,F,Dubai,Arabic,Silver,25JAN1981:00:00:00,38.0,276.0,06MAY2013:00:00:00,19AUG2018:22:38:24,10MAY2018:21:28:38
1,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000020917140,...,M,Abu Dhabi,English,Silver,22JAN1971:00:00:00,48.0,78.0,09FEB2011:00:00:00,26SEP2018:17:40:53,21JUL2018:22:38:53
2,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000021265010,...,M,Abu Dhabi,English,Gold,31OCT1966:00:00:00,52.0,640.0,17NOV2011:00:00:00,16SEP2018:16:23:03,15SEP2018:12:19:40
3,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000025693950,...,F,Abu Dhabi,English,Silver,25APR1975:00:00:00,43.0,1205.0,16JUL2011:00:00:00,01SEP2018:10:43:50,01AUG2013:18:08:40
4,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000044104620,...,F,Abu Dhabi,English,Silver,19NOV1967:00:00:00,51.0,180.0,12FEB2013:00:00:00,26SEP2018:17:15:35,09SEP2018:18:12:21

In [28]:
import datetime as dt
def weekday(x):
    try:
        return dt.datetime.strptime(x,'%d%b%Y:%H:%M:%S').weekday()
    except:
        return np.nan

def day(x):
    try:
        return dt.datetime.strptime(x,'%d%b%Y:%H:%M:%S').day
    except:
        return np.nan

In [29]:
custTotal['First_txn_day']=custTotal['First_txn_dt'].apply(lambda x: day(x))
custTotal['First_txn_weekday']=custTotal['First_txn_dt'].apply(lambda x: weekday(x))

In [30]:
custTotal.head()

,Territory,Business,Year,Week,Store_Code,City_Name,Store_Type,Transaction_Type,Return_Reason,Customer_ID,...,Language,Loyalty_Status,Birth_date,Age,Points,First_txn_dt,Last_accr_txn_dt,Last_rdm_txn_dt,First_txn_day,First_txn_weekday
0,United Arab Emirates,Max,2010,0,60065,Dubai,Stand alone,Return,Size Problem,1800000058056860,...,Arabic,Silver,25JAN1981:00:00:00,38.0,276.0,06MAY2013:00:00:00,19AUG2018:22:38:24,10MAY2018:21:28:38,6.0,0.0
1,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000020917140,...,English,Silver,22JAN1971:00:00:00,48.0,78.0,09FEB2011:00:00:00,26SEP2018:17:40:53,21JUL2018:22:38:53,9.0,2.0
2,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000021265010,...,English,Gold,31OCT1966:00:00:00,52.0,640.0,17NOV2011:00:00:00,16SEP2018:16:23:03,15SEP2018:12:19:40,17.0,3.0
3,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000025693950,...,English,Silver,25APR1975:00:00:00,43.0,1205.0,16JUL2011:00:00:00,01SEP2018:10:43:50,01AUG2013:18:08:40,16.0,5.0
4,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000044104620,...,English,Silver,19NOV1967:00:00:00,51.0,180.0,12FEB2013:00:00:00,26SEP2018:17:15:35,09SEP2018:18:12:21,12.0,1.0

In [36]:
storeMas.columns

Index([u'Territory', u'Business', u'Region', u'Region_Code', u'Store_Code',
       u'Store_Name', u'Mall_Name', u'Store_Format', u'Sales_Per_Day',
       u'Store_Launch_Date', u'Train_Test_Store', u'Geo_Field',
       u'Store_Size_Sq_Ft', u'Customer_Count', u'Total_Revenue'],
      dtype='object')

In [179]:
storeMas.Store_Format.unique()

array([nan, u'Stand Alone Stores', u'Mall Stores'], dtype=object)

In [37]:
custTotal_store=custTotal.merge(storeMas[['Region', u'Region_Code', u'Store_Code',
       u'Store_Name', u'Mall_Name', u'Store_Format', u'Sales_Per_Day',
       u'Store_Launch_Date', u'Train_Test_Store', u'Geo_Field',
       u'Store_Size_Sq_Ft', u'Customer_Count', u'Total_Revenue']],how='left',on='Store_Code')

In [38]:
custTotal_store.head()

,Territory,Business,Year,Week,Store_Code,City_Name,Store_Type,Transaction_Type,Return_Reason,Customer_ID,...,Store_Name,Mall_Name,Store_Format,Sales_Per_Day,Store_Launch_Date,Train_Test_Store,Geo_Field,Store_Size_Sq_Ft,Customer_Count,Total_Revenue
0,United Arab Emirates,Max,2010,0,60065,Dubai,Stand alone,Return,Size Problem,1800000058056860,...,Max Gardens,Ibn Battuta Mall-Uae,NaN,3319.885702,2005-04-15,Train,"25.044684, 55.120275",15609.687991,188836.0,69053622.61
1,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000020917140,...,Max Abudhabi,STANDALONE,NaN,3094.424495,2004-05-16,Train,NaN,19200.122169,160218.0,64364029.49
2,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000021265010,...,Max Abudhabi,STANDALONE,NaN,3094.424495,2004-05-16,Train,NaN,19200.122169,160218.0,64364029.49
3,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000025693950,...,Max Abudhabi,STANDALONE,NaN,3094.424495,2004-05-16,Train,NaN,19200.122169,160218.0,64364029.49
4,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000044104620,...,Max Abudhabi,STANDALONE,NaN,3094.424495,2004-05-16,Train,NaN,19200.122169,160218.0,64364029.49

In [39]:
def purchaseFlag(x):
    if x < 0:
        return 0
    else:
        return 1

In [40]:
custTotal_store['purchaseFlag']=custTotal_store['Units_Sold'].apply(lambda x:purchaseFlag(x))

In [41]:
custTotal_store.head()

,Territory,Business,Year,Week,Store_Code,City_Name,Store_Type,Transaction_Type,Return_Reason,Customer_ID,...,Mall_Name,Store_Format,Sales_Per_Day,Store_Launch_Date,Train_Test_Store,Geo_Field,Store_Size_Sq_Ft,Customer_Count,Total_Revenue,purchaseFlag
0,United Arab Emirates,Max,2010,0,60065,Dubai,Stand alone,Return,Size Problem,1800000058056860,...,Ibn Battuta Mall-Uae,NaN,3319.885702,2005-04-15,Train,"25.044684, 55.120275",15609.687991,188836.0,69053622.61,0
1,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000020917140,...,STANDALONE,NaN,3094.424495,2004-05-16,Train,NaN,19200.122169,160218.0,64364029.49,1
2,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000021265010,...,STANDALONE,NaN,3094.424495,2004-05-16,Train,NaN,19200.122169,160218.0,64364029.49,1
3,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000025693950,...,STANDALONE,NaN,3094.424495,2004-05-16,Train,NaN,19200.122169,160218.0,64364029.49,1
4,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000044104620,...,STANDALONE,NaN,3094.424495,2004-05-16,Train,NaN,19200.122169,160218.0,64364029.49,1

In [288]:
custTotal_store2=custTotal_store.merge(custMax,how='left',on='Customer_ID')
custTotal_store2=custTotal_store2.merge(custMax2,how='left',on='Customer_ID')
custTotal_store2=custTotal_store2.merge(custMax3,how='left',on='Customer_ID')
custTotal_store2=custTotal_store2.merge(custMax4,how='left',on='Customer_ID')
custTotal_store2=custTotal_store2.merge(custMax5,how='left',on='Customer_ID')
#custTotal_store2=custTotal_store2.merge(storeNew1,how='left',on='Store_Code')
#custTotal_store2=custTotal_store2.merge(storeNew2,how='left',on='Store_Code')
#custTotal_store2=custTotal_store2.merge(storeNew3,how='left',on='Store_Code')
#custTotal_store2=custTotal_store2.merge(storeNew4,how='left',on='Store_Code')

In [289]:
custTotal_store2.head()

,Territory,Business,Year,Week,Store_Code,City_Name,Store_Type,Transaction_Type,Return_Reason,Customer_ID,...,dismax,dismin,unitssize,unitssum,unitsmax,unitsmin,invoicesize,invoiceesum,invoicemax,invoicemin
0,United Arab Emirates,Max,2010,0,60065,Dubai,Stand alone,Return,Size Problem,1800000058056860,...,697.0,-39.0,24,138,46,-5,24,26,2,1
1,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000020917140,...,493.0,-29.0,17,88,32,-1,17,21,3,1
2,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000021265010,...,140.0,-22.0,57,259,26,-8,57,68,3,1
3,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000025693950,...,10.0,0.0,5,19,10,-1,5,6,2,1
4,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000044104620,...,161.0,0.0,9,75,21,-2,9,10,2,1

In [290]:
custTotal_store2.isnull().sum()

Territory                 0
Business                  0
Year                      0
Week                      0
Store_Code                0
City_Name             39185
Store_Type            39185
Transaction_Type          0
Return_Reason        507635
Customer_ID               0
Invoices                  0
Item_Count                0
Revenue                   0
Discount                  0
Units_Sold                0
Nationality               0
Income_Range              0
Job_Type                  0
Marital_Status            0
Gender                    0
State                     0
Language                  0
Loyalty_Status            0
Birth_date            53003
Age                   89003
Points                 3997
First_txn_dt             59
Last_accr_txn_dt          7
Last_rdm_txn_dt       60568
First_txn_day            59
                      ...
Mall_Name                 1
Store_Format         485708
Sales_Per_Day             1
Store_Launch_Date         1
Train_Test_Store          1
Geo_Field            171139
Store_Size_Sq_Ft          1
Customer_Count            1
Total_Revenue             1
purchaseFlag              0
revenuesize               0
revenuesum                0
revenuemax                0
revenuemin                0
itemsize                  0
itemsum                   0
itemmax                   0
itemmin                   0
dissize                   0
dissum                    0
dismax                    0
dismin                    0
unitssize                 0
unitssum                  0
unitsmax                  0
unitsmin                  0
invoicesize               0
invoiceesum               0
invoicemax                0
invoicemin                0
Length: 64, dtype: int64

In [364]:
custTotal_store2[['City_Name','Store_Type','Birth_date','Age','Store_Format','First_txn_dt','Last_accr_txn_dt','First_txn_day','First_txn_weekday']]=custTotal_store2[['City_Name','Store_Type','Birth_date','Age','Store_Format','First_txn_dt','Last_accr_txn_dt','First_txn_day','First_txn_weekday']].fillna(value='other')
custTotal_store3=custTotal_store2.drop(['Last_rdm_txn_dt','Return_Reason','Geo_Field','First_txn_dt','Last_accr_txn_dt','Birth_date','Year','Week','Customer_Count','Store_Launch_Date','City_Name','Store_Type','Transaction_Type','Invoices','Item_Count','Revenue','Discount','Units_Sold'],axis = 1)

In [365]:
'''Year
Week
City_Name
Store_Type
Transaction_Type
Invoices
Item_Count
Revenue
Discount
Units_Sold'''

'Year\nWeek\nCity_Name\nStore_Type\nTransaction_Type\nInvoices\nItem_Count\nRevenue\nDiscount\nUnits_Sold'

In [366]:
custTotal_store4=custTotal_store3.dropna()
custTotal_store4.isnull().sum()
custTotal_store4.dtypes

Territory             object
Business              object
Store_Code             int64
Customer_ID            int64
Nationality           object
Income_Range          object
Job_Type              object
Marital_Status        object
Gender                object
State                 object
Language              object
Loyalty_Status        object
Age                   object
Points               float64
First_txn_day         object
First_txn_weekday     object
Region                object
Region_Code          float64
Store_Name            object
Mall_Name             object
Store_Format          object
Sales_Per_Day        float64
Train_Test_Store      object
Store_Size_Sq_Ft     float64
Total_Revenue        float64
purchaseFlag           int64
revenuesize            int64
revenuesum           float64
revenuemax           float64
revenuemin           float64
itemsize               int64
itemsum                int64
itemmax                int64
itemmin                int64
dissize                int64
dissum               float64
dismax               float64
dismin               float64
unitssize              int64
unitssum               int64
unitsmax               int64
unitsmin               int64
invoicesize            int64
invoiceesum            int64
invoicemax             int64
invoicemin             int64
dtype: object

In [297]:
custTotal_store3.isnull().sum()

Territory               0
Business                0
Store_Code              0
Customer_ID             0
Nationality             0
Income_Range            0
Job_Type                0
Marital_Status          0
Gender                  0
State                   0
Language                0
Loyalty_Status          0
Age                     0
Points               3997
First_txn_day           0
First_txn_weekday       0
Region                  1
Region_Code             1
Store_Name              1
Mall_Name               1
Store_Format            0
Sales_Per_Day           1
Train_Test_Store        1
Store_Size_Sq_Ft        1
Customer_Count          1
Total_Revenue           1
purchaseFlag            0
revenuesize             0
revenuesum              0
revenuemax              0
revenuemin              0
itemsize                0
itemsum                 0
itemmax                 0
itemmin                 0
dissize                 0
dissum                  0
dismax                  0
dismin                  0
unitssize               0
unitssum                0
unitsmax                0
unitsmin                0
invoicesize             0
invoiceesum             0
invoicemax              0
invoicemin              0
dtype: int64

In [298]:
#custTotal_store3['Points']=pd.to_numeric(custTotal_store3['Points'])

In [367]:
#char_cols = custTotal_store4.dtypes.pipe(lambda x: x[x == 'object']).index

#custTotal_store5 = pd.get_dummies(custTotal_store4,prefix=char_cols)

In [383]:
char_colsNw = totaldata.dtypes.pipe(lambda x: x[x == 'object']).index

totaldata2 = pd.get_dummies(totaldata,prefix=char_colsNw)

In [384]:
custTotal_store5.shape

(540651, 516)

In [388]:
custTotal_store6=totaldata2[totaldata2['purchaseFlag']!=-1]
testNw=totaldata2[totaldata2['purchaseFlag']==-1]

In [389]:
custTotal_store6.shape,custTotal_store5.shape,test3.shape,custTotal_store4.shape,testNw.shape

((540651, 529), (540651, 516), (400000, 46), (540651, 46), (400000, 529))

In [390]:
custTotal_store6.columns

Index([                       u'Store_Code',
                             u'Customer_ID',
                                  u'Points',
                             u'Region_Code',
                           u'Sales_Per_Day',
                        u'Store_Size_Sq_Ft',
                           u'Total_Revenue',
                            u'purchaseFlag',
                             u'revenuesize',
                              u'revenuesum',
       ...
       u'Mall_Name_Safeer Mall Sharjah-Uae',
       u'Mall_Name_Sharjah City Centre-Uae',
             u'Mall_Name_Shindaga Mall-Uae',
                           u'Mall_Name_WTC',
                  u'Mall_Name_Yas Mall-Uae',
                u'Store_Format_Mall Stores',
         u'Store_Format_Stand Alone Stores',
                      u'Store_Format_other',
                   u'Train_Test_Store_Test',
                  u'Train_Test_Store_Train'],
      dtype='object', length=529)

In [368]:
for col in char_cols:
    print(col,len(custTotal_store4[col].unique()))

(u'Territory', 1)
(u'Business', 1)
(u'Nationality', 222)
(u'Income_Range', 7)
(u'Job_Type', 19)
(u'Marital_Status', 7)
(u'Gender', 3)
(u'State', 13)
(u'Language', 3)
(u'Loyalty_Status', 2)
(u'Age', 104)
('First_txn_day', 32)
('First_txn_weekday', 8)
(u'Region', 6)
(u'Store_Name', 31)
(u'Mall_Name', 25)
(u'Store_Format', 3)
(u'Train_Test_Store', 1)

In [301]:
custTotal_store3[char_cols[0]].unique()

array([u'United Arab Emirates'], dtype=object)

In [302]:
custTotal_store4.isnull().sum()

Territory            0
Business             0
Store_Code           0
Customer_ID          0
Nationality          0
Income_Range         0
Job_Type             0
Marital_Status       0
Gender               0
State                0
Language             0
Loyalty_Status       0
Age                  0
Points               0
First_txn_day        0
First_txn_weekday    0
Region               0
Region_Code          0
Store_Name           0
Mall_Name            0
Store_Format         0
Sales_Per_Day        0
Train_Test_Store     0
Store_Size_Sq_Ft     0
Customer_Count       0
Total_Revenue        0
purchaseFlag         0
revenuesize          0
revenuesum           0
revenuemax           0
revenuemin           0
itemsize             0
itemsum              0
itemmax              0
itemmin              0
dissize              0
dissum               0
dismax               0
dismin               0
unitssize            0
unitssum             0
unitsmax             0
unitsmin             0
invoicesize          0
invoiceesum          0
invoicemax           0
invoicemin           0
dtype: int64

In [303]:
custTotal_store5.dtypes

Store_Code                                  int64
Customer_ID                                 int64
Points                                    float64
Region_Code                               float64
Sales_Per_Day                             float64
Store_Size_Sq_Ft                          float64
Customer_Count                            float64
Total_Revenue                             float64
purchaseFlag                                int64
revenuesize                                 int64
revenuesum                                float64
revenuemax                                float64
revenuemin                                float64
itemsize                                    int64
itemsum                                     int64
itemmax                                     int64
itemmin                                     int64
dissize                                     int64
dissum                                    float64
dismax                                    float64
dismin                                    float64
unitssize                                   int64
unitssum                                    int64
unitsmax                                    int64
unitsmin                                    int64
invoicesize                                 int64
invoiceesum                                 int64
invoicemax                                  int64
invoicemin                                  int64
Territory_United Arab Emirates              uint8
                                           ...
Store_Name_Max Zayed City Mall              uint8
Mall_Name_Abu Dhabi Co-Op Mall-UAE          uint8
Mall_Name_Abudhabi Marina Mall-Uae          uint8
Mall_Name_Al Ghurair City-Uae               uint8
Mall_Name_Bawabat Al Sharq Malluae-Uae      uint8
Mall_Name_Bawadi Mall-UAE                   uint8
Mall_Name_City Mall - Abu Dhabi-Uae         uint8
Mall_Name_Dalma Mall Abu Dhabi-Uae          uint8
Mall_Name_Deerfields Mall-Uae               uint8
Mall_Name_Deira City Centre-UAE             uint8
Mall_Name_Dubai Festival City-Uae           uint8
Mall_Name_Dubai Mall-Uae                    uint8
Mall_Name_Fujairah City Centre-Uae          uint8
Mall_Name_Ibn Battuta Mall-Uae              uint8
Mall_Name_Madina Mall-Uae                   uint8
Mall_Name_Meaisem City Centre-Uae           uint8
Mall_Name_Mirdif City Centre-Uae            uint8
Mall_Name_Mushrif Mall Abudhabi-Uae         uint8
Mall_Name_Nk Mall Ajman-UAE                 uint8
Mall_Name_Oasis Centre-Uae                  uint8
Mall_Name_STANDALONE                        uint8
Mall_Name_Safeer Mall - Rakuae-Uae          uint8
Mall_Name_Safeer Mall Sharjah-Uae           uint8
Mall_Name_Sharjah City Centre-Uae           uint8
Mall_Name_Shindaga Mall-Uae                 uint8
Mall_Name_Yas Mall-Uae                      uint8
Store_Format_Mall Stores                    uint8
Store_Format_Stand Alone Stores             uint8
Store_Format_other                          uint8
Train_Test_Store_Train                      uint8
Length: 517, dtype: object

In [97]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],'C': [1, 2, 3]})
df

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

In [98]:
 pd.get_dummies(df, prefix=['col1', 'col2'])

   C  col1_a  col1_b  col2_a  col2_b  col2_c
0  1       1       0       0       1       0
1  2       0       1       1       0       0
2  3       1       0       0       0       1

In [304]:
custTotal_store5=custTotal_store5.reset_index()
custTotal_store5.columns

Index([                             u'index',
                               u'Store_Code',
                              u'Customer_ID',
                                   u'Points',
                              u'Region_Code',
                            u'Sales_Per_Day',
                         u'Store_Size_Sq_Ft',
                           u'Customer_Count',
                            u'Total_Revenue',
                             u'purchaseFlag',
       ...
                     u'Mall_Name_STANDALONE',
       u'Mall_Name_Safeer Mall - Rakuae-Uae',
        u'Mall_Name_Safeer Mall Sharjah-Uae',
        u'Mall_Name_Sharjah City Centre-Uae',
              u'Mall_Name_Shindaga Mall-Uae',
                   u'Mall_Name_Yas Mall-Uae',
                 u'Store_Format_Mall Stores',
          u'Store_Format_Stand Alone Stores',
                       u'Store_Format_other',
                   u'Train_Test_Store_Train'],
      dtype='object', length=518)

In [305]:
#del custTotal_store5['level_0']
del custTotal_store5['index']
#del custTotal_store5[u'index']

custTotal_store5.columns

Index([                        u'Store_Code',
                              u'Customer_ID',
                                   u'Points',
                              u'Region_Code',
                            u'Sales_Per_Day',
                         u'Store_Size_Sq_Ft',
                           u'Customer_Count',
                            u'Total_Revenue',
                             u'purchaseFlag',
                              u'revenuesize',
       ...
                     u'Mall_Name_STANDALONE',
       u'Mall_Name_Safeer Mall - Rakuae-Uae',
        u'Mall_Name_Safeer Mall Sharjah-Uae',
        u'Mall_Name_Sharjah City Centre-Uae',
              u'Mall_Name_Shindaga Mall-Uae',
                   u'Mall_Name_Yas Mall-Uae',
                 u'Store_Format_Mall Stores',
          u'Store_Format_Stand Alone Stores',
                       u'Store_Format_other',
                   u'Train_Test_Store_Train'],
      dtype='object', length=517)

In [391]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(custTotal_store6.drop(['Store_Code','Customer_ID'],axis=1) ,custTotal_store6['purchaseFlag'],
                                test_size=0.33, random_state=42,shuffle=True,stratify=custTotal_store6['purchaseFlag'])

In [392]:
yw=custTotal_store3['purchaseFlag']

In [393]:
from collections import Counter
Counter(yw)

Counter({0: 36918, 1: 507731})

In [394]:
custTotal_store2.shape

(544649, 64)

In [395]:
from sklearn.model_selection import train_test_split

In [396]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((362236, 527), (178415, 527), (362236L,), (178415L,))

In [397]:
X_train.isnull().sum()

Points                                    0
Region_Code                               0
Sales_Per_Day                             0
Store_Size_Sq_Ft                          0
Total_Revenue                             0
purchaseFlag                              0
revenuesize                               0
revenuesum                                0
revenuemax                                0
revenuemin                                0
itemsize                                  0
itemsum                                   0
itemmax                                   0
itemmin                                   0
dissize                                   0
dissum                                    0
dismax                                    0
dismin                                    0
unitssize                                 0
unitssum                                  0
unitsmax                                  0
unitsmin                                  0
invoicesize                               0
invoiceesum                               0
invoicemax                                0
invoicemin                                0
Territory_United Arab Emirates            0
Business_Max                              0
Nationality_AFGHANISTAN                   0
Nationality_ALBANIA                       0
                                         ..
Mall_Name_Alain Mall                      0
Mall_Name_Bawabat Al Sharq Malluae-Uae    0
Mall_Name_Bawadi Mall-UAE                 0
Mall_Name_City Mall - Abu Dhabi-Uae       0
Mall_Name_Dalma Mall Abu Dhabi-Uae        0
Mall_Name_Deerfields Mall-Uae             0
Mall_Name_Deira City Centre-UAE           0
Mall_Name_Dubai Festival City-Uae         0
Mall_Name_Dubai Mall-Uae                  0
Mall_Name_Fujairah City Centre-Uae        0
Mall_Name_Ibn Battuta Mall-Uae            0
Mall_Name_Madina Mall-Uae                 0
Mall_Name_Matejer Al Juraina              0
Mall_Name_Meaisem City Centre-Uae         0
Mall_Name_Mirdif City Centre-Uae          0
Mall_Name_Mushrif Mall Abudhabi-Uae       0
Mall_Name_Nk Mall Ajman-UAE               0
Mall_Name_Oasis Centre-Uae                0
Mall_Name_STANDALONE                      0
Mall_Name_Safeer Mall - Rakuae-Uae        0
Mall_Name_Safeer Mall Sharjah-Uae         0
Mall_Name_Sharjah City Centre-Uae         0
Mall_Name_Shindaga Mall-Uae               0
Mall_Name_WTC                             0
Mall_Name_Yas Mall-Uae                    0
Store_Format_Mall Stores                  0
Store_Format_Stand Alone Stores           0
Store_Format_other                        0
Train_Test_Store_Test                     0
Train_Test_Store_Train                    0
Length: 527, dtype: int64

In [406]:
from sklearn.ensemble import RandomForestClassifier
#from sklearn.datasets import make_classification
clf = RandomForestClassifier(n_estimators=500, max_depth=5,random_state=1)
clf.fit(X_train, y_train)
print(clf.feature_importances_)

[  3.87323667e-04   2.87127075e-03   1.91640847e-03   8.18090859e-04
   1.51472335e-03   4.29386373e-01   1.79700748e-02   7.40946173e-03
   6.88287764e-03   1.27733544e-01   1.32091651e-02   9.21412413e-03
   8.15352992e-03   1.51639164e-02   1.52477851e-02   6.48122413e-03
   6.10702165e-03   7.44497615e-02   1.56803537e-02   7.78615419e-03
   8.50072986e-03   1.35356807e-01   1.82783414e-02   1.92742874e-02
   1.78716476e-02   1.09810582e-04   0.00000000e+00   0.00000000e+00
   3.51566836e-06   1.21955937e-07   1.74776460e-05   2.84594490e-06
   0.00000000e+00   3.74611734e-06   0.00000000e+00   1.78969423e-06
   0.00000000e+00   1.67753719e-06   3.54158175e-06   0.00000000e+00
   1.36052607e-05   5.01425659e-07   0.00000000e+00   0.00000000e+00
   3.01849071e-07   8.13433993e-06   0.00000000e+00   1.52581829e-06
   1.09210294e-06   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   8.67984839e-08   0.00000000e+00
   0.00000000e+00   1.61965832e-05   7.59082548e-08   1.18946066e-06
   0.00000000e+00   1.63089762e-06   0.00000000e+00   0.00000000e+00
   0.00000000e+00   7.06223149e-07   7.84881219e-06   0.00000000e+00
   2.79672066e-06   0.00000000e+00   3.44390809e-07   0.00000000e+00
   2.99779829e-05   0.00000000e+00   7.49427936e-06   0.00000000e+00
   0.00000000e+00   3.64772934e-06   0.00000000e+00   0.00000000e+00
   2.36742793e-07   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   4.45994878e-06   0.00000000e+00   1.93050992e-05
   2.66009592e-03   0.00000000e+00   0.00000000e+00   5.84232419e-07
   0.00000000e+00   9.64756054e-06   0.00000000e+00   8.63148768e-08
   0.00000000e+00   0.00000000e+00   1.08724108e-05   4.18865998e-07
   6.66232694e-06   0.00000000e+00   0.00000000e+00   1.32305945e-05
   1.66584714e-05   3.00918189e-06   0.00000000e+00   2.73710813e-06
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   1.41420524e-06   0.00000000e+00   2.11460663e-06   9.50328278e-06
   2.87331697e-04   2.62150544e-07   7.80351872e-06   0.00000000e+00
   2.49394498e-05   1.91942473e-05   0.00000000e+00   0.00000000e+00
   4.75978708e-08   5.89957773e-04   0.00000000e+00   3.63142850e-06
   0.00000000e+00   0.00000000e+00   7.94197659e-06   1.88397950e-06
   0.00000000e+00   0.00000000e+00   2.56401919e-05   0.00000000e+00
   6.38131483e-06   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   2.92275256e-06   8.42175488e-06   3.21584058e-07
   3.89791355e-06   0.00000000e+00   0.00000000e+00   2.19771365e-06
   5.47171248e-07   0.00000000e+00   4.40645234e-06   0.00000000e+00
   0.00000000e+00   2.03353402e-05   0.00000000e+00   0.00000000e+00
   1.90732343e-06   9.96539015e-06   4.83896889e-05   1.62219274e-06
   0.00000000e+00   0.00000000e+00   5.12315055e-06   0.00000000e+00
   2.65927505e-06   9.69874404e-06   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   2.90107835e-06   1.91831150e-04
   2.61475389e-06   2.49996835e-05   0.00000000e+00   2.69138185e-05
   5.97578086e-07   0.00000000e+00   0.00000000e+00   5.54738220e-03
   4.41466851e-06   7.94937845e-07   5.31429726e-07   1.45317011e-07
   0.00000000e+00   9.21954835e-06   3.15826013e-06   0.00000000e+00
   2.64357319e-06   1.03565708e-06   5.48703372e-07   0.00000000e+00
   3.86194334e-07   0.00000000e+00   1.92093625e-06   0.00000000e+00
   0.00000000e+00   0.00000000e+00   9.35148138e-06   1.24797529e-05
   2.49989607e-05   2.79826286e-06   3.81361455e-06   1.91068952e-05
   0.00000000e+00   0.00000000e+00   1.84359411e-06   1.09986379e-06
   2.34973291e-06   2.66700866e-06   5.49500849e-06   7.17527840e-06
   0.00000000e+00   0.00000000e+00   0.00000000e+00   4.11710251e-06
   1.40773716e-05   8.12597936e-04   0.00000000e+00   0.00000000e+00
   2.97878883e-07   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   6.47898287e-06   1.70958884e-06   0.00000000e+00
   0.00000000e+00   1.18124779e-05   5.23483942e-06   1.95264411e-05
   2.28541828e-05   8.32933877e-06   1.62046779e-04   2.33585641e-06
   4.76488050e-06   1.05113135e-05   0.00000000e+00   6.42975964e-06
   2.41659710e-05   0.00000000e+00   1.11503174e-05   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   1.21867736e-05
   0.00000000e+00   3.36561692e-06   9.96450115e-08   1.57626268e-05
   7.01004270e-06   2.30409476e-07   5.03509218e-05   2.20031696e-05
   3.10521168e-04   4.03760641e-04   1.52797077e-06   0.00000000e+00
   2.64962625e-06   0.00000000e+00   2.90743409e-05   0.00000000e+00
   3.49610543e-07   3.54091444e-05   2.24148411e-05   8.25340285e-06
   1.81462235e-04   6.68470557e-06   1.16738851e-05   1.02960597e-05
   1.50673847e-05   0.00000000e+00   0.00000000e+00   0.00000000e+00
   1.72496590e-04   5.10836192e-06   2.15366867e-04   0.00000000e+00
   0.00000000e+00   1.50834038e-05   1.01045341e-04   4.74266464e-06
   2.35646601e-05   7.00532000e-05   1.92060286e-05   1.90675669e-04
   3.31893500e-05   0.00000000e+00   2.88312400e-04   2.37161778e-05
   0.00000000e+00   0.00000000e+00   8.09254809e-05   0.00000000e+00
   1.08117186e-05   2.34933952e-05   4.09967628e-06   1.92584995e-05
   1.11645423e-03   8.79073009e-04   1.71709134e-05   7.76444407e-04
   8.86471504e-04   0.00000000e+00   0.00000000e+00   0.00000000e+00
   3.94554286e-06   4.47166994e-06   6.54449474e-07   0.00000000e+00
   1.90937553e-07   4.05128055e-05   0.00000000e+00   1.28671052e-05
   6.19540513e-06   1.71991956e-06   1.82131682e-06   7.82627111e-06
   1.15405887e-06   6.20966921e-06   5.58937487e-06   1.39400481e-05
   1.24723262e-05   2.79812075e-06   5.21998960e-06   2.95626130e-06
   1.36001179e-05   1.05978409e-05   1.38958569e-05   3.99209979e-05
   9.80451191e-06   3.06926383e-05   3.42748351e-05   2.89478339e-05
   2.56481260e-05   1.04808017e-05   7.72543754e-06   6.54156745e-06
   1.18378679e-05   8.23391226e-06   1.64091404e-05   1.04017883e-05
   1.85598207e-05   1.26102183e-05   7.09266457e-06   1.39410980e-05
   1.86806158e-05   2.33336267e-05   3.39316659e-05   3.87893252e-05
   7.89644526e-06   3.96008615e-05   8.68440762e-06   2.37433138e-05
   1.75816792e-05   2.99369480e-05   1.19990268e-05   2.78471130e-05
   5.70154895e-05   3.31212478e-05   1.07313353e-05   1.64008429e-05
   1.05139088e-05   3.02995749e-05   3.06739412e-06   2.05547003e-05
   9.87627702e-06   6.17557359e-06   1.07532627e-05   1.33701115e-05
   2.95787658e-06   1.66953098e-05   1.21003219e-05   1.22181413e-05
   4.98036816e-06   0.00000000e+00   8.29435022e-07   1.84958671e-06
   0.00000000e+00   6.70582128e-06   5.04727022e-07   0.00000000e+00
   0.00000000e+00   0.00000000e+00   1.62181130e-06   0.00000000e+00
   0.00000000e+00   1.31666964e-05   0.00000000e+00   0.00000000e+00
   2.91023068e-06   9.12934231e-07   0.00000000e+00   1.89040956e-06
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   7.38866921e-06
   0.00000000e+00   3.99103281e-05   0.00000000e+00   1.84288980e-05
   1.12291125e-05   2.99929428e-05   2.41599004e-05   2.51567666e-05
   3.70222282e-05   6.36197212e-06   1.09401562e-05   5.39026175e-06
   2.00656088e-05   2.18393489e-05   1.76271342e-05   1.23726383e-05
   1.74773458e-05   1.60805852e-05   1.85057782e-05   2.67132708e-06
   1.32759599e-05   3.35285151e-06   1.13564774e-05   1.58548334e-05
   2.85427333e-05   1.46519200e-05   1.81153888e-05   6.16164511e-06
   1.33745288e-05   1.83246555e-05   6.11687647e-06   3.13525407e-06
   2.85274505e-05   7.23091401e-06   4.13872705e-07   0.00000000e+00
   8.14361775e-06   1.36467775e-05   4.39509961e-05   6.71575002e-06
   4.00503290e-05   1.34386963e-05   1.28408746e-05   0.00000000e+00
   3.38288481e-04   1.22060333e-04   3.64242014e-03   3.77596824e-05
   2.84186055e-05   1.47122894e-04   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   9.53144436e-06   2.57853529e-05
   4.01083260e-05   1.81862509e-04   2.72253995e-04   1.58347958e-03
   4.71137402e-05   8.02442069e-05   1.46241532e-04   1.74190774e-05
   6.41521949e-06   2.22191076e-05   4.25334819e-05   2.71997358e-04
   4.32936486e-05   1.87861941e-05   2.14444616e-04   9.35780143e-05
   1.05560654e-05   6.99634094e-06   7.55345963e-05   8.74886668e-05
   4.92951450e-05   3.17506424e-05   5.87392363e-05   2.96644477e-06
   3.01715262e-06   1.00239107e-04   1.75698874e-04   1.78811686e-05
   6.55802231e-06   0.00000000e+00   0.00000000e+00   3.97720475e-05
   1.18162281e-04   0.00000000e+00   1.68325477e-05   1.66925609e-05
   7.05945420e-06   2.59494374e-05   7.72504528e-05   3.15503734e-04
   3.10497183e-05   2.00315104e-05   2.06449190e-04   5.46079642e-05
   4.65513603e-06   0.00000000e+00   2.40097570e-05   8.57701211e-05
   4.49371895e-05   1.19807229e-04   4.85852193e-06   2.13169718e-03
   4.97229857e-06   9.74636035e-07   1.55116911e-05   3.51808767e-05
   0.00000000e+00   2.89320256e-04   7.52549703e-04   1.56176367e-04
   6.89537149e-04   0.00000000e+00   0.00000000e+00]

In [407]:
from sklearn.model_selection import cross_val_score
cross_val_score(clf,X_train,y_train,cv=10)

array([ 0.9320064 ,  0.9320064 ,  0.9320064 ,  0.9320064 ,  0.9320064 ,
        0.9320064 ,  0.9320064 ,  0.93203213,  0.93203213,  0.93203026])

In [410]:
feature_set1=list(custTotal_store6.columns)
feature_set1.remove('Store_Code')
feature_set1.remove('Customer_ID')

In [420]:
train_X1 = custTotal_store6[feature_set1]
test_X1 = testNw[feature_set1]


train_X1 = train_X1.as_matrix()
test_X1 = test_X1.as_matrix()

train_Y = custTotal_store6['purchaseFlag']

mask = np.random.choice([False, True], len(train_X1), p=[0.7, 0.3])
not_mask = ~mask

In [421]:
xg_train1 = xgb.DMatrix(train_X1[not_mask], label=train_Y[not_mask],feature_names=feature_set1)
xg_val1 = xgb.DMatrix(train_X1[mask], label=train_Y[mask],feature_names=feature_set1)
xg_test1 = xgb.DMatrix(test_X1,feature_names=feature_set1)

param = {}
param['objective'] = 'binary:logistic'
param['eta'] = 0.01
param['max_depth'] = 6
param['silent'] = 1
param['eval_metric'] = "auc"
param['subsample'] = 0.5
param['colsample_bytree'] = 0.5

In [422]:
evallist1  = [(xg_val1, 'eval')]
bst1 = xgb.train( param, xg_train1, 1000, evallist1 )

[0]	eval-auc:0.835922
[1]	eval-auc:1
[2]	eval-auc:1
[3]	eval-auc:1
[4]	eval-auc:1
[5]	eval-auc:1
[6]	eval-auc:1
[7]	eval-auc:1
[8]	eval-auc:1
[9]	eval-auc:1
[10]	eval-auc:1
[11]	eval-auc:1
[12]	eval-auc:1
[13]	eval-auc:1
[14]	eval-auc:1
[15]	eval-auc:1
[16]	eval-auc:1
[17]	eval-auc:1
[18]	eval-auc:1
[19]	eval-auc:1
[20]	eval-auc:1
[21]	eval-auc:1
[22]	eval-auc:1
[23]	eval-auc:1
[24]	eval-auc:1
[25]	eval-auc:1
[26]	eval-auc:1
[27]	eval-auc:1
[28]	eval-auc:1
[29]	eval-auc:1
[30]	eval-auc:1
[31]	eval-auc:1
[32]	eval-auc:1
[33]	eval-auc:1
[34]	eval-auc:1
[35]	eval-auc:1
[36]	eval-auc:1
[37]	eval-auc:1
[38]	eval-auc:1
[39]	eval-auc:1
[40]	eval-auc:1
[41]	eval-auc:1
[42]	eval-auc:1
[43]	eval-auc:1
[44]	eval-auc:1
[45]	eval-auc:1
[46]	eval-auc:1
[47]	eval-auc:1
[48]	eval-auc:1
[49]	eval-auc:1
[50]	eval-auc:1
[51]	eval-auc:1
[52]	eval-auc:1
[53]	eval-auc:1
[54]	eval-auc:1
[55]	eval-auc:1
[56]	eval-auc:1
[57]	eval-auc:1
[58]	eval-auc:1
[59]	eval-auc:1
[60]	eval-auc:1
[61]	eval-auc:1
[62]	eval-auc:1
[63]	eval-auc:1
[64]	eval-auc:1
[65]	eval-auc:1
[66]	eval-auc:1
[67]	eval-auc:1
[68]	eval-auc:1
[69]	eval-auc:1
[70]	eval-auc:1
[71]	eval-auc:1
[72]	eval-auc:1
[73]	eval-auc:1
[74]	eval-auc:1
[75]	eval-auc:1
[76]	eval-auc:1
[77]	eval-auc:1
[78]	eval-auc:1
[79]	eval-auc:1
[80]	eval-auc:1
[81]	eval-auc:1
[82]	eval-auc:1
[83]	eval-auc:1
[84]	eval-auc:1
[85]	eval-auc:1
[86]	eval-auc:1
[87]	eval-auc:1
[88]	eval-auc:1
[89]	eval-auc:1
[90]	eval-auc:1
[91]	eval-auc:1
[92]	eval-auc:1
[93]	eval-auc:1
[94]	eval-auc:1
[95]	eval-auc:1
[96]	eval-auc:1
[97]	eval-auc:1
[98]	eval-auc:1
[99]	eval-auc:1
[100]	eval-auc:1
[101]	eval-auc:1
[102]	eval-auc:1
[103]	eval-auc:1
[104]	eval-auc:1
[105]	eval-auc:1
[106]	eval-auc:1
[107]	eval-auc:1
[108]	eval-auc:1
[109]	eval-auc:1
[110]	eval-auc:1
[111]	eval-auc:1
[112]	eval-auc:1
[113]	eval-auc:1
[114]	eval-auc:1
[115]	eval-auc:1
[116]	eval-auc:1
[117]	eval-auc:1
[118]	eval-auc:1
[119]	eval-auc:1
[120]	eval-auc:1
[121]	eval-auc:1
[122]	eval-auc:1
[123]	eval-auc:1
[124]	eval-auc:1
[125]	eval-auc:1
[126]	eval-auc:1
[127]	eval-auc:1
[128]	eval-auc:1
[129]	eval-auc:1
[130]	eval-auc:1
[131]	eval-auc:1
[132]	eval-auc:1
[133]	eval-auc:1
[134]	eval-auc:1
[135]	eval-auc:1
[136]	eval-auc:1
[137]	eval-auc:1
[138]	eval-auc:1
[139]	eval-auc:1
[140]	eval-auc:1
[141]	eval-auc:1
[142]	eval-auc:1
[143]	eval-auc:1
[144]	eval-auc:1
[145]	eval-auc:1
[146]	eval-auc:1
[147]	eval-auc:1
[148]	eval-auc:1
[149]	eval-auc:1
[150]	eval-auc:1
[151]	eval-auc:1
[152]	eval-auc:1
[153]	eval-auc:1
[154]	eval-auc:1
[155]	eval-auc:1
[156]	eval-auc:1
[157]	eval-auc:1
[158]	eval-auc:1
[159]	eval-auc:1
[160]	eval-auc:1
[161]	eval-auc:1
[162]	eval-auc:1
[163]	eval-auc:1
[164]	eval-auc:1
[165]	eval-auc:1
[166]	eval-auc:1
[167]	eval-auc:1
[168]	eval-auc:1
[169]	eval-auc:1
[170]	eval-auc:1
[171]	eval-auc:1
[172]	eval-auc:1
[173]	eval-auc:1
[174]	eval-auc:1
[175]	eval-auc:1
[176]	eval-auc:1
[177]	eval-auc:1
[178]	eval-auc:1
[179]	eval-auc:1
[180]	eval-auc:1
[181]	eval-auc:1
[182]	eval-auc:1
[183]	eval-auc:1
[184]	eval-auc:1
[185]	eval-auc:1
[186]	eval-auc:1
[187]	eval-auc:1
[188]	eval-auc:1
[189]	eval-auc:1
[190]	eval-auc:1
[191]	eval-auc:1
[192]	eval-auc:1
[193]	eval-auc:1
[194]	eval-auc:1
[195]	eval-auc:1
[196]	eval-auc:1
[197]	eval-auc:1
[198]	eval-auc:1
[199]	eval-auc:1
[200]	eval-auc:1
[201]	eval-auc:1
[202]	eval-auc:1
[203]	eval-auc:1
[204]	eval-auc:1
[205]	eval-auc:1
[206]	eval-auc:1
[207]	eval-auc:1
[208]	eval-auc:1
[209]	eval-auc:1
[210]	eval-auc:1
[211]	eval-auc:1
[212]	eval-auc:1
[213]	eval-auc:1
[214]	eval-auc:1
[215]	eval-auc:1
[216]	eval-auc:1
[217]	eval-auc:1
[218]	eval-auc:1
[219]	eval-auc:1
[220]	eval-auc:1
[221]	eval-auc:1
[222]	eval-auc:1
[223]	eval-auc:1
[224]	eval-auc:1
[225]	eval-auc:1
[226]	eval-auc:1
[227]	eval-auc:1
[228]	eval-auc:1
[229]	eval-auc:1
[230]	eval-auc:1
[231]	eval-auc:1
[232]	eval-auc:1
[233]	eval-auc:1
[234]	eval-auc:1
[235]	eval-auc:1
[236]	eval-auc:1
[237]	eval-auc:1
[238]	eval-auc:1
[239]	eval-auc:1
[240]	eval-auc:1
[241]	eval-auc:1
[242]	eval-auc:1
[243]	eval-auc:1
[244]	eval-auc:1
[245]	eval-auc:1
[246]	eval-auc:1
[247]	eval-auc:1
[248]	eval-auc:1
[249]	eval-auc:1
[250]	eval-auc:1
[251]	eval-auc:1
[252]	eval-auc:1
[253]	eval-auc:1
[254]	eval-auc:1
[255]	eval-auc:1
[256]	eval-auc:1
[257]	eval-auc:1
[258]	eval-auc:1
[259]	eval-auc:1
[260]	eval-auc:1
[261]	eval-auc:1
[262]	eval-auc:1
[263]	eval-auc:1
[264]	eval-auc:1
[265]	eval-auc:1
[266]	eval-auc:1
[267]	eval-auc:1
[268]	eval-auc:1
[269]	eval-auc:1
[270]	eval-auc:1
[271]	eval-auc:1
[272]	eval-auc:1
[273]	eval-auc:1
[274]	eval-auc:1
[275]	eval-auc:1
[276]	eval-auc:1
[277]	eval-auc:1
[278]	eval-auc:1
[279]	eval-auc:1
[280]	eval-auc:1
[281]	eval-auc:1
[282]	eval-auc:1
[283]	eval-auc:1
[284]	eval-auc:1
[285]	eval-auc:1
[286]	eval-auc:1
[287]	eval-auc:1
[288]	eval-auc:1
[289]	eval-auc:1
[290]	eval-auc:1
[291]	eval-auc:1
[292]	eval-auc:1
[293]	eval-auc:1
[294]	eval-auc:1
[295]	eval-auc:1
[296]	eval-auc:1
[297]	eval-auc:1
[298]	eval-auc:1
[299]	eval-auc:1
[300]	eval-auc:1
[301]	eval-auc:1
[302]	eval-auc:1
[303]	eval-auc:1
[304]	eval-auc:1
[305]	eval-auc:1
[306]	eval-auc:1
[307]	eval-auc:1
[308]	eval-auc:1
[309]	eval-auc:1
[310]	eval-auc:1
[311]	eval-auc:1
[312]	eval-auc:1
[313]	eval-auc:1
[314]	eval-auc:1
[315]	eval-auc:1
[316]	eval-auc:1
[317]	eval-auc:1
[318]	eval-auc:1
[319]	eval-auc:1
[320]	eval-auc:1
[321]	eval-auc:1
[322]	eval-auc:1
[323]	eval-auc:1
[324]	eval-auc:1
[325]	eval-auc:1
[326]	eval-auc:1
[327]	eval-auc:1
[328]	eval-auc:1
[329]	eval-auc:1
[330]	eval-auc:1
[331]	eval-auc:1
[332]	eval-auc:1
[333]	eval-auc:1
[334]	eval-auc:1
[335]	eval-auc:1
[336]	eval-auc:1
[337]	eval-auc:1
[338]	eval-auc:1
[339]	eval-auc:1
[340]	eval-auc:1
[341]	eval-auc:1
[342]	eval-auc:1
[343]	eval-auc:1
[344]	eval-auc:1
[345]	eval-auc:1
[346]	eval-auc:1
[347]	eval-auc:1
[348]	eval-auc:1
[349]	eval-auc:1
[350]	eval-auc:1
[351]	eval-auc:1
[352]	eval-auc:1
[353]	eval-auc:1
[354]	eval-auc:1
[355]	eval-auc:1
[356]	eval-auc:1
[357]	eval-auc:1
[358]	eval-auc:1
[359]	eval-auc:1
[360]	eval-auc:1
[361]	eval-auc:1
[362]	eval-auc:1
[363]	eval-auc:1
[364]	eval-auc:1
[365]	eval-auc:1
[366]	eval-auc:1
[367]	eval-auc:1
[368]	eval-auc:1
[369]	eval-auc:1
[370]	eval-auc:1
[371]	eval-auc:1
[372]	eval-auc:1
[373]	eval-auc:1
[374]	eval-auc:1
[375]	eval-auc:1
[376]	eval-auc:1
[377]	eval-auc:1
[378]	eval-auc:1
[379]	eval-auc:1
[380]	eval-auc:1
[381]	eval-auc:1
[382]	eval-auc:1
[383]	eval-auc:1
[384]	eval-auc:1
[385]	eval-auc:1
[386]	eval-auc:1
[387]	eval-auc:1
[388]	eval-auc:1
[389]	eval-auc:1
[390]	eval-auc:1
[391]	eval-auc:1
[392]	eval-auc:1
[393]	eval-auc:1
[394]	eval-auc:1
[395]	eval-auc:1
[396]	eval-auc:1
[397]	eval-auc:1
[398]	eval-auc:1
[399]	eval-auc:1
[400]	eval-auc:1
[401]	eval-auc:1
[402]	eval-auc:1
[403]	eval-auc:1
[404]	eval-auc:1
[405]	eval-auc:1
[406]	eval-auc:1
[407]	eval-auc:1
[408]	eval-auc:1
[409]	eval-auc:1
[410]	eval-auc:1
[411]	eval-auc:1
[412]	eval-auc:1
[413]	eval-auc:1
[414]	eval-auc:1
[415]	eval-auc:1
[416]	eval-auc:1
[417]	eval-auc:1
[418]	eval-auc:1
[419]	eval-auc:1
[420]	eval-auc:1
[421]	eval-auc:1
[422]	eval-auc:1
[423]	eval-auc:1
[424]	eval-auc:1
[425]	eval-auc:1
[426]	eval-auc:1
[427]	eval-auc:1
[428]	eval-auc:1
[429]	eval-auc:1
[430]	eval-auc:1
[431]	eval-auc:1
[432]	eval-auc:1
[433]	eval-auc:1
[434]	eval-auc:1
[435]	eval-auc:1
[436]	eval-auc:1
[437]	eval-auc:1
[438]	eval-auc:1
[439]	eval-auc:1
[440]	eval-auc:1
[441]	eval-auc:1
[442]	eval-auc:1
[443]	eval-auc:1
[444]	eval-auc:1
[445]	eval-auc:1
[446]	eval-auc:1
[447]	eval-auc:1
[448]	eval-auc:1
[449]	eval-auc:1
[450]	eval-auc:1
[451]	eval-auc:1
[452]	eval-auc:1
[453]	eval-auc:1
[454]	eval-auc:1
[455]	eval-auc:1
[456]	eval-auc:1
[457]	eval-auc:1
[458]	eval-auc:1
[459]	eval-auc:1
[460]	eval-auc:1
[461]	eval-auc:1
[462]	eval-auc:1
[463]	eval-auc:1
[464]	eval-auc:1
[465]	eval-auc:1
[466]	eval-auc:1
[467]	eval-auc:1
[468]	eval-auc:1
[469]	eval-auc:1
[470]	eval-auc:1
[471]	eval-auc:1
[472]	eval-auc:1
[473]	eval-auc:1
[474]	eval-auc:1
[475]	eval-auc:1
[476]	eval-auc:1
[477]	eval-auc:1
[478]	eval-auc:1
[479]	eval-auc:1
[480]	eval-auc:1
[481]	eval-auc:1
[482]	eval-auc:1
[483]	eval-auc:1
[484]	eval-auc:1
[485]	eval-auc:1
[486]	eval-auc:1
[487]	eval-auc:1

[488]	eval-auc:1
[489]	eval-auc:1
[490]	eval-auc:1
[491]	eval-auc:1
[492]	eval-auc:1
[493]	eval-auc:1
[494]	eval-auc:1
[495]	eval-auc:1
[496]	eval-auc:1
[497]	eval-auc:1
[498]	eval-auc:1
[499]	eval-auc:1
[500]	eval-auc:1
[501]	eval-auc:1
[502]	eval-auc:1
[503]	eval-auc:1
[504]	eval-auc:1
[505]	eval-auc:1
[506]	eval-auc:1
[507]	eval-auc:1
[508]	eval-auc:1
[509]	eval-auc:1
[510]	eval-auc:1
[511]	eval-auc:1
[512]	eval-auc:1
[513]	eval-auc:1
[514]	eval-auc:1
[515]	eval-auc:1
[516]	eval-auc:1
[517]	eval-auc:1
[518]	eval-auc:1
[519]	eval-auc:1
[520]	eval-auc:1
[521]	eval-auc:1
[522]	eval-auc:1
[523]	eval-auc:1
[524]	eval-auc:1
[525]	eval-auc:1
[526]	eval-auc:1
[527]	eval-auc:1
[528]	eval-auc:1
[529]	eval-auc:1
[530]	eval-auc:1
[531]	eval-auc:1
[532]	eval-auc:1
[533]	eval-auc:1
[534]	eval-auc:1
[535]	eval-auc:1
[536]	eval-auc:1
[537]	eval-auc:1
[538]	eval-auc:1
[539]	eval-auc:1
[540]	eval-auc:1
[541]	eval-auc:1
[542]	eval-auc:1
[543]	eval-auc:1
[544]	eval-auc:1
[545]	eval-auc:1
[546]	eval-auc:1
[547]	eval-auc:1
[548]	eval-auc:1
[549]	eval-auc:1
[550]	eval-auc:1
[551]	eval-auc:1
[552]	eval-auc:1
[553]	eval-auc:1
[554]	eval-auc:1
[555]	eval-auc:1
[556]	eval-auc:1
[557]	eval-auc:1
[558]	eval-auc:1
[559]	eval-auc:1
[560]	eval-auc:1
[561]	eval-auc:1
[562]	eval-auc:1
[563]	eval-auc:1
[564]	eval-auc:1
[565]	eval-auc:1
[566]	eval-auc:1
[567]	eval-auc:1
[568]	eval-auc:1
[569]	eval-auc:1
[570]	eval-auc:1
[571]	eval-auc:1
[572]	eval-auc:1
[573]	eval-auc:1
[574]	eval-auc:1
[575]	eval-auc:1
[576]	eval-auc:1
[577]	eval-auc:1
[578]	eval-auc:1
[579]	eval-auc:1
[580]	eval-auc:1
[581]	eval-auc:1
[582]	eval-auc:1
[583]	eval-auc:1
[584]	eval-auc:1
[585]	eval-auc:1
[586]	eval-auc:1
[587]	eval-auc:1
[588]	eval-auc:1
[589]	eval-auc:1
[590]	eval-auc:1
[591]	eval-auc:1
[592]	eval-auc:1
[593]	eval-auc:1
[594]	eval-auc:1
[595]	eval-auc:1
[596]	eval-auc:1
[597]	eval-auc:1
[598]	eval-auc:1
[599]	eval-auc:1
[600]	eval-auc:1
[601]	eval-auc:1
[602]	eval-auc:1
[603]	eval-auc:1
[604]	eval-auc:1
[605]	eval-auc:1
[606]	eval-auc:1
[607]	eval-auc:1
[608]	eval-auc:1
[609]	eval-auc:1
[610]	eval-auc:1
[611]	eval-auc:1
[612]	eval-auc:1
[613]	eval-auc:1
[614]	eval-auc:1
[615]	eval-auc:1
[616]	eval-auc:1
[617]	eval-auc:1
[618]	eval-auc:1
[619]	eval-auc:1
[620]	eval-auc:1
[621]	eval-auc:1
[622]	eval-auc:1
[623]	eval-auc:1
[624]	eval-auc:1
[625]	eval-auc:1
[626]	eval-auc:1
[627]	eval-auc:1
[628]	eval-auc:1
[629]	eval-auc:1
[630]	eval-auc:1
[631]	eval-auc:1
[632]	eval-auc:1
[633]	eval-auc:1
[634]	eval-auc:1
[635]	eval-auc:1
[636]	eval-auc:1
[637]	eval-auc:1
[638]	eval-auc:1
[639]	eval-auc:1
[640]	eval-auc:1
[641]	eval-auc:1
[642]	eval-auc:1
[643]	eval-auc:1
[644]	eval-auc:1
[645]	eval-auc:1
[646]	eval-auc:1
[647]	eval-auc:1
[648]	eval-auc:1
[649]	eval-auc:1
[650]	eval-auc:1
[651]	eval-auc:1
[652]	eval-auc:1
[653]	eval-auc:1
[654]	eval-auc:1
[655]	eval-auc:1
[656]	eval-auc:1
[657]	eval-auc:1
[658]	eval-auc:1
[659]	eval-auc:1
[660]	eval-auc:1
[661]	eval-auc:1
[662]	eval-auc:1
[663]	eval-auc:1
[664]	eval-auc:1
[665]	eval-auc:1
[666]	eval-auc:1
[667]	eval-auc:1
[668]	eval-auc:1
[669]	eval-auc:1
[670]	eval-auc:1
[671]	eval-auc:1
[672]	eval-auc:1
[673]	eval-auc:1
[674]	eval-auc:1
[675]	eval-auc:1
[676]	eval-auc:1
[677]	eval-auc:1
[678]	eval-auc:1
[679]	eval-auc:1
[680]	eval-auc:1
[681]	eval-auc:1
[682]	eval-auc:1
[683]	eval-auc:1
[684]	eval-auc:1
[685]	eval-auc:1
[686]	eval-auc:1
[687]	eval-auc:1
[688]	eval-auc:1
[689]	eval-auc:1
[690]	eval-auc:1
[691]	eval-auc:1
[692]	eval-auc:1
[693]	eval-auc:1
[694]	eval-auc:1
[695]	eval-auc:1
[696]	eval-auc:1
[697]	eval-auc:1
[698]	eval-auc:1
[699]	eval-auc:1
[700]	eval-auc:1
[701]	eval-auc:1
[702]	eval-auc:1
[703]	eval-auc:1
[704]	eval-auc:1
[705]	eval-auc:1
[706]	eval-auc:1
[707]	eval-auc:1
[708]	eval-auc:1
[709]	eval-auc:1
[710]	eval-auc:1
[711]	eval-auc:1
[712]	eval-auc:1
[713]	eval-auc:1
[714]	eval-auc:1
[715]	eval-auc:1
[716]	eval-auc:1
[717]	eval-auc:1
[718]	eval-auc:1
[719]	eval-auc:1
[720]	eval-auc:1
[721]	eval-auc:1
[722]	eval-auc:1
[723]	eval-auc:1
[724]	eval-auc:1
[725]	eval-auc:1
[726]	eval-auc:1
[727]	eval-auc:1
[728]	eval-auc:1
[729]	eval-auc:1
[730]	eval-auc:1
[731]	eval-auc:1
[732]	eval-auc:1
[733]	eval-auc:1
[734]	eval-auc:1
[735]	eval-auc:1
[736]	eval-auc:1
[737]	eval-auc:1
[738]	eval-auc:1
[739]	eval-auc:1
[740]	eval-auc:1
[741]	eval-auc:1
[742]	eval-auc:1
[743]	eval-auc:1
[744]	eval-auc:1
[745]	eval-auc:1
[746]	eval-auc:1
[747]	eval-auc:1
[748]	eval-auc:1
[749]	eval-auc:1
[750]	eval-auc:1
[751]	eval-auc:1
[752]	eval-auc:1
[753]	eval-auc:1
[754]	eval-auc:1
[755]	eval-auc:1
[756]	eval-auc:1
[757]	eval-auc:1
[758]	eval-auc:1
[759]	eval-auc:1
[760]	eval-auc:1
[761]	eval-auc:1
[762]	eval-auc:1
[763]	eval-auc:1
[764]	eval-auc:1
[765]	eval-auc:1
[766]	eval-auc:1
[767]	eval-auc:1
[768]	eval-auc:1
[769]	eval-auc:1
[770]	eval-auc:1
[771]	eval-auc:1
[772]	eval-auc:1
[773]	eval-auc:1
[774]	eval-auc:1
[775]	eval-auc:1
[776]	eval-auc:1
[777]	eval-auc:1
[778]	eval-auc:1
[779]	eval-auc:1
[780]	eval-auc:1
[781]	eval-auc:1
[782]	eval-auc:1
[783]	eval-auc:1
[784]	eval-auc:1
[785]	eval-auc:1
[786]	eval-auc:1
[787]	eval-auc:1
[788]	eval-auc:1
[789]	eval-auc:1
[790]	eval-auc:1
[791]	eval-auc:1
[792]	eval-auc:1
[793]	eval-auc:1
[794]	eval-auc:1
[795]	eval-auc:1
[796]	eval-auc:1
[797]	eval-auc:1
[798]	eval-auc:1
[799]	eval-auc:1
[800]	eval-auc:1
[801]	eval-auc:1
[802]	eval-auc:1
[803]	eval-auc:1
[804]	eval-auc:1
[805]	eval-auc:1
[806]	eval-auc:1
[807]	eval-auc:1
[808]	eval-auc:1
[809]	eval-auc:1
[810]	eval-auc:1
[811]	eval-auc:1
[812]	eval-auc:1
[813]	eval-auc:1
[814]	eval-auc:1
[815]	eval-auc:1
[816]	eval-auc:1
[817]	eval-auc:1
[818]	eval-auc:1
[819]	eval-auc:1
[820]	eval-auc:1
[821]	eval-auc:1
[822]	eval-auc:1
[823]	eval-auc:1
[824]	eval-auc:1
[825]	eval-auc:1
[826]	eval-auc:1
[827]	eval-auc:1
[828]	eval-auc:1
[829]	eval-auc:1
[830]	eval-auc:1
[831]	eval-auc:1
[832]	eval-auc:1
[833]	eval-auc:1
[834]	eval-auc:1
[835]	eval-auc:1
[836]	eval-auc:1
[837]	eval-auc:1
[838]	eval-auc:1
[839]	eval-auc:1
[840]	eval-auc:1
[841]	eval-auc:1
[842]	eval-auc:1
[843]	eval-auc:1
[844]	eval-auc:1
[845]	eval-auc:1
[846]	eval-auc:1
[847]	eval-auc:1
[848]	eval-auc:1
[849]	eval-auc:1
[850]	eval-auc:1
[851]	eval-auc:1
[852]	eval-auc:1
[853]	eval-auc:1
[854]	eval-auc:1
[855]	eval-auc:1
[856]	eval-auc:1
[857]	eval-auc:1
[858]	eval-auc:1
[859]	eval-auc:1
[860]	eval-auc:1
[861]	eval-auc:1
[862]	eval-auc:1
[863]	eval-auc:1
[864]	eval-auc:1
[865]	eval-auc:1
[866]	eval-auc:1
[867]	eval-auc:1
[868]	eval-auc:1
[869]	eval-auc:1
[870]	eval-auc:1
[871]	eval-auc:1
[872]	eval-auc:1
[873]	eval-auc:1
[874]	eval-auc:1
[875]	eval-auc:1
[876]	eval-auc:1
[877]	eval-auc:1
[878]	eval-auc:1
[879]	eval-auc:1
[880]	eval-auc:1
[881]	eval-auc:1
[882]	eval-auc:1
[883]	eval-auc:1
[884]	eval-auc:1
[885]	eval-auc:1
[886]	eval-auc:1
[887]	eval-auc:1
[888]	eval-auc:1
[889]	eval-auc:1
[890]	eval-auc:1
[891]	eval-auc:1
[892]	eval-auc:1
[893]	eval-auc:1
[894]	eval-auc:1
[895]	eval-auc:1
[896]	eval-auc:1
[897]	eval-auc:1
[898]	eval-auc:1
[899]	eval-auc:1
[900]	eval-auc:1
[901]	eval-auc:1
[902]	eval-auc:1
[903]	eval-auc:1
[904]	eval-auc:1
[905]	eval-auc:1
[906]	eval-auc:1
[907]	eval-auc:1
[908]	eval-auc:1
[909]	eval-auc:1
[910]	eval-auc:1
[911]	eval-auc:1
[912]	eval-auc:1
[913]	eval-auc:1
[914]	eval-auc:1
[915]	eval-auc:1
[916]	eval-auc:1
[917]	eval-auc:1
[918]	eval-auc:1
[919]	eval-auc:1
[920]	eval-auc:1
[921]	eval-auc:1
[922]	eval-auc:1
[923]	eval-auc:1
[924]	eval-auc:1
[925]	eval-auc:1
[926]	eval-auc:1
[927]	eval-auc:1
[928]	eval-auc:1
[929]	eval-auc:1
[930]	eval-auc:1
[931]	eval-auc:1
[932]	eval-auc:1
[933]	eval-auc:1
[934]	eval-auc:1
[935]	eval-auc:1
[936]	eval-auc:1
[937]	eval-auc:1
[938]	eval-auc:1
[939]	eval-auc:1
[940]	eval-auc:1
[941]	eval-auc:1
[942]	eval-auc:1
[943]	eval-auc:1
[944]	eval-auc:1
[945]	eval-auc:1
[946]	eval-auc:1
[947]	eval-auc:1
[948]	eval-auc:1
[949]	eval-auc:1
[950]	eval-auc:1
[951]	eval-auc:1
[952]	eval-auc:1
[953]	eval-auc:1
[954]	eval-auc:1
[955]	eval-auc:1
[956]	eval-auc:1
[957]	eval-auc:1
[958]	eval-auc:1
[959]	eval-auc:1
[960]	eval-auc:1
[961]	eval-auc:1
[962]	eval-auc:1
[963]	eval-auc:1
[964]	eval-auc:1
[965]	eval-auc:1
[966]	eval-auc:1
[967]	eval-auc:1
[968]	eval-auc:1
[969]	eval-auc:1

[970]	eval-auc:1
[971]	eval-auc:1
[972]	eval-auc:1
[973]	eval-auc:1
[974]	eval-auc:1
[975]	eval-auc:1
[976]	eval-auc:1
[977]	eval-auc:1
[978]	eval-auc:1
[979]	eval-auc:1
[980]	eval-auc:1
[981]	eval-auc:1
[982]	eval-auc:1
[983]	eval-auc:1
[984]	eval-auc:1
[985]	eval-auc:1
[986]	eval-auc:1
[987]	eval-auc:1
[988]	eval-auc:1
[989]	eval-auc:1
[990]	eval-auc:1
[991]	eval-auc:1
[992]	eval-auc:1
[993]	eval-auc:1
[994]	eval-auc:1
[995]	eval-auc:1
[996]	eval-auc:1
[997]	eval-auc:1
[998]	eval-auc:1
[999]	eval-auc:1

In [423]:
preds1 = bst1.predict(xg_test1)

In [ ]:
preds2=[]
for i in preds1:
    if i > .01:
        preds2.append(1)
    else:
        preds2.append(0)

In [449]:
prediction1 = pd.DataFrame(preds2)
prediction1.columns = ['Prediction']

In [450]:
len(preds2),preds1.shape

(400000, (400000L,))

In [459]:
Submit1 = test.iloc[:,:]
submit1 = pd.concat([Submit1, prediction1], axis=1)
submit1.columns
submit1.head()

        Customer_ID  Store_Code  Prediction
0  1800000006365760       60298           1
1  1800000006365760       60299           1
2  1800000006365760       60300           1
3  1800000006365760       60301           1
4  1800000006365820       60298           1

In [460]:
submit1.to_csv("D:\\he_landmark\\submit1.csv",index=None)

In [456]:
prediction1.head()

   Prediction
0           1
1           1
2           1
3           1
4           1

In [457]:
#Submit1 = test.iloc[:,:]
#Submit1.head()

        Customer_ID  Store_Code
0  1800000006365760       60298
1  1800000006365760       60299
2  1800000006365760       60300
3  1800000006365760       60301
4  1800000006365820       60298

In [446]:
preds2=[]
for i in preds1:
    if i > .01:
        preds2.append(1)
    else:
        preds2.append(0)

In [442]:
preds1.mean(),preds1.min(),preds1.max()

(0.16423737, 0.0025833161, 0.25230527)

In [438]:
predstrain = bst1.predict(xgb.DMatrix(train_X1,feature_names=feature_set1))

In [439]:
xg_train1.num_row(),predstrain.shape,train_Y.shape

(378467L, (540651L,), (540651L,))

In [440]:
from sklearn.metrics import roc_curve, auc
import pylab as pl

In [441]:
fpr, tpr, thresholds =roc_curve(train_Y, predstrain)
roc_auc = auc(fpr, tpr)
print("Area under the ROC curve : %f" % roc_auc)

####################################
# The optimal cut off would be where tpr is high and fpr is low
# tpr - (1-fpr) is zero or near to zero is the optimal cut off point
####################################
i = np.arange(len(tpr)) # index for df
roc = pd.DataFrame({'fpr' : pd.Series(fpr, index=i),'tpr' : pd.Series(tpr, index = i), '1-fpr' : pd.Series(1-fpr, index = i), 'tf' : pd.Series(tpr - (1-fpr), index = i), 'thresholds' : pd.Series(thresholds, index = i)})
roc.ix[(roc.tf-0).abs().argsort()[:1]]

# Plot tpr vs 1-fpr
fig, ax = pl.subplots()
pl.plot(roc['tpr'])
pl.plot(roc['1-fpr'], color = 'red')
pl.xlabel('1-False Positive Rate')
pl.ylabel('True Positive Rate')
pl.title('Receiver operating characteristic')
ax.set_xticklabels([])

Area under the ROC curve : 1.000000

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # This is added back by InteractiveShellApp.init_path()

[]

In [424]:
test.shape,prediction1.shape,preds1.shape

((400000, 2), (400000, 1), (400000L,))

In [428]:
preds1.mean()

0.16423737

In [315]:
custTrans.head()

,Territory,Business,Year,Week,Store_Code,City_Name,Store_Type,Transaction_Type,Return_Reason,Customer_ID,Invoices,Item_Count,Revenue,Discount,Units_Sold
0,United Arab Emirates,Max,2010,0,60065,Dubai,Stand alone,Return,Size Problem,1800000058056860,1,3,-169.0,0.0,-3
1,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000020917140,1,1,0.0,0.0,0
2,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000021265010,1,1,0.0,0.0,0
3,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000025693950,1,4,0.0,0.0,0
4,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000044104620,1,1,0.0,0.0,0

In [316]:
r=custTrans[custTrans['Store_Code']==60298]

In [317]:
r.shape

(0, 15)

In [318]:
test.head()

        Customer_ID  Store_Code
0  1800000006365760       60298
1  1800000006365760       60299
2  1800000006365760       60300
3  1800000006365760       60301
4  1800000006365820       60298

In [319]:
test2=test.merge(custMax,how='left',on='Customer_ID')
test2=test2.merge(custDemograph[['Customer_ID','Nationality','Income_Range','Job_Type','Marital_Status',
                                         'Gender','State', u'Language','Loyalty_Status','Birth_date','Age','Points',
                                         'First_txn_dt','Last_accr_txn_dt', 'Last_rdm_txn_dt']],how='left',on='Customer_ID')
test2=test2.merge(storeMas[[u'Territory',u'Business','Region', u'Region_Code', u'Store_Code',
       u'Store_Name', u'Mall_Name', u'Store_Format', u'Sales_Per_Day',
       u'Store_Launch_Date', u'Train_Test_Store', u'Geo_Field',
       u'Store_Size_Sq_Ft', u'Customer_Count', u'Total_Revenue']],how='left',on='Store_Code')

test2['First_txn_day']=test2['First_txn_dt'].apply(lambda x: day(x))
test2['First_txn_weekday']=test2['First_txn_dt'].apply(lambda x: weekday(x))

In [320]:
#test2=test2.merge(custMax,how='left',on='Customer_ID')
test2=test2.merge(custMax2,how='left',on='Customer_ID')
test2=test2.merge(custMax3,how='left',on='Customer_ID')
test2=test2.merge(custMax4,how='left',on='Customer_ID')
test2=test2.merge(custMax5,how='left',on='Customer_ID')
#test2=test2.merge(storeNew1,how='left',on='Store_Code')
#test2=test2.merge(storeNew2,how='left',on='Store_Code')
#test2=test2.merge(storeNew3,how='left',on='Store_Code')
#test2=test2.merge(storeNew4,how='left',on='Store_Code')

In [321]:
#test2.isnull().sum(),custTotal_store3.isnull().sum()

In [369]:
for i in custTotal_store4.columns:
    if i not in test3.columns:
        print i

purchaseFlag

In [370]:
neededColumns=list(custTotal_store4.columns)

In [372]:
neededColumns.remove('purchaseFlag')

In [373]:
test3=test2[neededColumns].reset_index()

In [374]:
test3['purchaseFlag']=-1

In [376]:
test3=test3.fillna(value=-1)
#test3=test3.drop(['Customer_Count'],axis=1)
test3=test3.drop(['index'],axis=1)

In [377]:
test.shape,test3.shape,test4.shape,custTotal_store4.shape

((400000, 2), (400000, 46), (400000, 321), (540651, 46))

In [381]:
custTotal_store4.columns,test3.columns

(Index([        u'Territory',          u'Business',        u'Store_Code',
              u'Customer_ID',       u'Nationality',      u'Income_Range',
                 u'Job_Type',    u'Marital_Status',            u'Gender',
                    u'State',          u'Language',    u'Loyalty_Status',
                      u'Age',            u'Points',     u'First_txn_day',
        u'First_txn_weekday',            u'Region',       u'Region_Code',
               u'Store_Name',         u'Mall_Name',      u'Store_Format',
            u'Sales_Per_Day',  u'Train_Test_Store',  u'Store_Size_Sq_Ft',
            u'Total_Revenue',      u'purchaseFlag',       u'revenuesize',
               u'revenuesum',        u'revenuemax',        u'revenuemin',
                 u'itemsize',           u'itemsum',           u'itemmax',
                  u'itemmin',           u'dissize',            u'dissum',
                   u'dismax',            u'dismin',         u'unitssize',
                 u'unitssum',          u'unitsmax',          u'unitsmin',
              u'invoicesize',       u'invoiceesum',        u'invoicemax',
               u'invoicemin'],
       dtype='object'),
 Index([        u'Territory',          u'Business',        u'Store_Code',
              u'Customer_ID',       u'Nationality',      u'Income_Range',
                 u'Job_Type',    u'Marital_Status',            u'Gender',
                    u'State',          u'Language',    u'Loyalty_Status',
                      u'Age',            u'Points',     u'First_txn_day',
        u'First_txn_weekday',            u'Region',       u'Region_Code',
               u'Store_Name',         u'Mall_Name',      u'Store_Format',
            u'Sales_Per_Day',  u'Train_Test_Store',  u'Store_Size_Sq_Ft',
            u'Total_Revenue',      u'purchaseFlag',       u'revenuesize',
               u'revenuesum',        u'revenuemax',        u'revenuemin',
                 u'itemsize',           u'itemsum',           u'itemmax',
                  u'itemmin',           u'dissize',            u'dissum',
                   u'dismax',            u'dismin',         u'unitssize',
                 u'unitssum',          u'unitsmax',          u'unitsmin',
              u'invoicesize',       u'invoiceesum',        u'invoicemax',
               u'invoicemin'],
       dtype='object'))

In [379]:
neededColumns2=list(custTotal_store4.columns)

In [380]:
test3=test3[neededColumns2]

In [382]:
totaldata=custTotal_store4.append(test3)

In [358]:
test3.isnull().sum()

Territory            0
Business             0
Store_Code           0
Customer_ID          0
Nationality          0
Income_Range         0
Job_Type             0
Marital_Status       0
Gender               0
State                0
Language             0
Loyalty_Status       0
Age                  0
Points               0
First_txn_day        0
First_txn_weekday    0
Region               0
Region_Code          0
Store_Name           0
Mall_Name            0
Store_Format         0
Sales_Per_Day        0
Train_Test_Store     0
Store_Size_Sq_Ft     0
Total_Revenue        0
revenuesize          0
revenuesum           0
revenuemax           0
revenuemin           0
itemsize             0
itemsum              0
itemmax              0
itemmin              0
dissize              0
dissum               0
dismax               0
dismin               0
unitssize            0
unitssum             0
unitsmax             0
unitsmin             0
invoicesize          0
invoiceesum          0
invoicemax           0
invoicemin           0
dtype: int64

In [357]:
test3.dtypes

Territory             object
Business              object
Store_Code             int64
Customer_ID            int64
Nationality           object
Income_Range          object
Job_Type              object
Marital_Status        object
Gender                object
State                 object
Language              object
Loyalty_Status        object
Age                  float64
Points               float64
First_txn_day        float64
First_txn_weekday    float64
Region                object
Region_Code            int64
Store_Name            object
Mall_Name             object
Store_Format          object
Sales_Per_Day        float64
Train_Test_Store      object
Store_Size_Sq_Ft     float64
Total_Revenue        float64
revenuesize            int64
revenuesum           float64
revenuemax           float64
revenuemin           float64
itemsize               int64
itemsum                int64
itemmax                int64
itemmin                int64
dissize                int64
dissum               float64
dismax               float64
dismin               float64
unitssize              int64
unitssum               int64
unitsmax               int64
unitsmin               int64
invoicesize            int64
invoiceesum            int64
invoicemax             int64
invoicemin             int64
dtype: object

In [359]:
char_cols2 = test3.dtypes.pipe(lambda x: x[x == 'object']).index

test4 = pd.get_dummies(test3,prefix=char_cols2)

((400000, 2), (400000, 45))

In [408]:
predValue=clf.predict(testNw.drop(['Store_Code','Customer_ID'],axis=1))

In [409]:
set(predValue)

{1}

In [178]:
custTrans.head()

,Territory,Business,Year,Week,Store_Code,City_Name,Store_Type,Transaction_Type,Return_Reason,Customer_ID,Invoices,Item_Count,Revenue,Discount,Units_Sold
0,United Arab Emirates,Max,2010,0,60065,Dubai,Stand alone,Return,Size Problem,1800000058056860,1,3,-169.0,0.0,-3
1,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000020917140,1,1,0.0,0.0,0
2,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000021265010,1,1,0.0,0.0,0
3,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000025693950,1,4,0.0,0.0,0
4,United Arab Emirates,Max,2016,0,60053,NaN,NaN,Purchase,NaN,1800000044104620,1,1,0.0,0.0,0

In [169]:
custTrans.columns

Index([u'Territory', u'Business', u'Year', u'Week', u'Store_Code',
       u'City_Name', u'Store_Type', u'Transaction_Type', u'Return_Reason',
       u'Customer_ID', u'Invoices', u'Item_Count', u'Revenue', u'Discount',
       u'Units_Sold'],
      dtype='object')

In [170]:
storeMas.columns

Index([u'Territory', u'Business', u'Region', u'Region_Code', u'Store_Code',
       u'Store_Name', u'Mall_Name', u'Store_Format', u'Sales_Per_Day',
       u'Store_Launch_Date', u'Train_Test_Store', u'Geo_Field',
       u'Store_Size_Sq_Ft', u'Customer_Count', u'Total_Revenue'],
      dtype='object')

In [157]:
transacCusts2=custTotal_store2['Customer_ID'].unique()
leftout=test[~test['Customer_ID'].isin(transacCusts2)]

In [158]:
leftout.shape

(0, 2)

In [152]:
test.shape

(400000, 2)